html {
  height: 100%;
}

.header {
  margin-bottom: 20px;
  color:#510063;
  font-family: 'Roboto', sans-serif;
  font-size:30px
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #88CC41;
}

.content {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.registerButton{font-size: 17px !important}