
.teacher-landing-content {
  padding: 30px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.teacher-landing-question-select {
  display: block;
}

.teacher-landing-time-select {
  display: block;
}

.teacher-landing-select {
  width: 400px;
}

.teacher-landing-select option {
  font-size: 1.1em;
  font-family:'Roboto', sans-serif;
}

.teacher-landing-select-container {
  margin-bottom: 30px;
}

.teacher-landing-create-room-container {
    position: fixed;
  bottom: 20vh;
  right: 20vw;
}
.teacher-landing-create-room-button{
  background-color:#02DEAE !important;
  float:right;
  font-size:17px;
  margin-top:12px;
  margin-right:10px
   
}
.footer{background-color:#654D94; 
  margin-top:48%; 
  height:50px;
}
