.navBar{background-color:#654D94 !important}
.logo{color:white; font-family: 'Roboto', sans-serif;font-size:30px; margin-top:5px}
.login{margin-left: 10px}
.loginButton{background-color:#02DEAE !important;margin-left:10px}